* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

body,
input,
button,
a,
span,
textarea {
    font: 400 18px Roboto, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.button {
    border: none;
    border-radius: 5px;
    background-color: #0077c2;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    opacity: 80%;
}

.btn-edit {
    background-color: #00c853;
}

.btn-delete {
    background-color: #d50000;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 100%;
    background-color: white;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #0077c2;
    color: white;
    text-align: left;
    font-weight: 700;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
    transition: 0.2s;
    cursor: pointer;
}

.content-table tbody tr:hover {
    background-color: #ddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #0077c2;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container .button {
    height: 40px;
    width: 130px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table .button {
    height: 30px;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}