.sidebar-container {
    background-color: white;
    width: 25%;
    height: 100vh;
    position: fixed;
}

.sidebar-container nav {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidebar-container nav a .sidebar-item-icon {
    margin-right: 10px;
}

.sidebar-container nav a {
    height: 50px;
    display: flex;
    align-items: center;
    transition: 0.2s;
    padding-left: 20px;
}

.sidebar-container nav a:hover {
    background-color: #fbfbfb;
}

.sidebar-container .logo {
    height: 65px;
    display: flex;
    align-items: center;
}