.sidebar-container {
    background-color: white;
    width: 15%;
    height: 100vh;
    position: fixed;
}

.sidebar-container nav {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.sidebar-container nav a .sidebar-item-icon {
    margin-right: 10px;
}

.sidebar-container nav a {
    height: 45px;
    display: flex;
    align-items: center;
    transition: 0.2s;
    padding-left: 20px;
    font-size: 0.9em;
    font-weight: bold;
}

.sidebar-container nav a:hover {
    background-color: #e4e4e4;
}

.sidebar-container .logo {
    height: 65px;
    display: flex;
    align-items: center;
}